{% extends "base.html" %}
{% load static %}   

{% block css_files %}
<link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock  %}


{% block page_title %}
    All Challenges
{% endblock %}
{% block content %}
    {% include "./includes/header.html" with active_page="index" %} 
    <ul>
        {% for month in months %}      
            <li><a href="{% url "month-challenge" month %}">{{ month|title }}</a></li>
        {% endfor %}
    </ul>   
{% endblock %}



{% comment %} Everything below is commented cos 
in the inheritance we are taking everything from the base.html file {% endcomment %}
{% comment %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Challenges</title>
    </head>
    <body>
        <ul>
            {% for month in months %}            
        If there is a change in the name of domain 
            , it should adopt dynamically to the domain hence we 
            naming convention that is given in the url file 
                <li><a href="{% url "month-challenge" month %}{{ month }}">{{ month|title }}</a></li>
            {% endfor %}
        </ul>    
    </body>
</html>
 {% endcomment %}

